body{
    background-image: url(https://netwebtechnologies.com/wp-content/uploads/2023/08/talabat-like-apps.png);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800vh;
    font-family: sans-serif;
    text-align: center;
}
.card{
    margin-top: -9%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.717);
    max-width:800vh;
    width:75vh;
    height: 110vh;
}
.Login1{
    color: white;
}
.button-email{
    background-color: rgb(223, 223, 223);
    border-style: none;
    border-radius: 12px;
    width:45vh;
    height: 4vh;
}
.button-password{
    background-color: rgb(223, 223, 223);
    border-style: none;
    border-radius: 12px;
    width:45vh;
    height: 4vh;
}
.OR{
    color: white;
}
.button-google{
    border-style: none;
    border-radius: 15px;
    width:45vh;
    height: 5vh;
    text-decoration: none;
    color: black;
}
.button-facebook{
    border-style: none;
    border-radius: 15px;
    width:45vh;
    height: 5vh;
    text-decoration: none;
    color: white;
    background-color: rgb(78, 78, 254);
}
.img-button{
    width: 2.5vh;
    float: inline-start;
}
.forget{
    border-style: none;
    border-radius: 12px;
    width:40%;
    height: 25px;
    text-decoration: none;
    color: white; 
    display: inline;
    justify-content: start;
}
.button{
    border-style: none;
    border-radius:15px ;
    width:45vh;
    height: 5vh;
    text-decoration: none;
   background-color: rgb(255, 96, 38);
   color: black;
   font-size: large;
}
.CreateAcount{
    border-style: none;
    border-radius: 20px;
    width:45vh;
    height: 5vh;
    text-decoration: none;
    color: black;
    display: inline;
    justify-content: start;
    background-color: rgb(255, 96, 38);
    font-size: 15px;
}
.Acount{
    color: white;
    font-family: sans-serif;
}