*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url( 1200px-قبة_الصخرة_6.jpg);
    color: var(--text-color);
    background-repeat: no-repeat;
    background-size: cover;
}
.FirstDiv{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 3.5px 0;
    background: linear-gradient(to left, red,black,green,white);
    z-index: 100;
}
nav{
    top: 7px;
    box-shadow: 3px 3px rgb(0, 0, 0,0.1);
    width: 100%;
    position: fixed;
}
nav ul{
    width: 100%;
    list-style: none;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: fixed;
    background-color: rgba(255, 255, 255, 0.906);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 10;
}
nav li a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
    color: black;
    padding: 20px 25px;
}
nav li.FF{
    border-bottom-style:inset;
    border-bottom-color: red;
}
nav a:hover{
    font-size: 18px;
    color: rgb(176, 0, 0);
}
nav .first{
    margin-right: auto;
}
nav .first:hover{
    height: 100%;
}
header img{
    height: 70px;
    margin: 0px 0px 7px;
}

.svg-setting{
    position: relative;
    right: 150px;
    cursor: pointer;
}
.svg-setting:hover{
    min-width: 34px;
}
.svg-setting-1{
    position: relative;
    right: 290px;
    cursor: pointer;
}
.svg-setting-1:hover{
    min-width: 34px;
}


.sidebar{
    position: fixed;
    right: 0;
    height: 100vh;
    width: 200px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.797);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.sidebar li{
    width: 110%;
}
#showSidebar{
    display: none;
}

.drop{
    display: inline-block;
}
.drop li{
    cursor: pointer;
}
.drop .cont{
    display: none;
    position:absolute;
    min-width: 130px;
    height: 10vh;
    box-shadow: 3px 3px 15px rgba(250, 0, 0, 0.402);
}
.drop:hover .cont{
    transition: 0.5s;
    display:grid;
    background-color: white;
    border-radius: 12px;
}
.cont a{
    text-decoration: none;
    color: black;
}


.Boxes{
    height: auto;
    display: flex;
    justify-content: space-around;
    margin: 130px 0px 0px 0px;
    flex-direction:row-reverse;
}
.Boxes-1{
    height: auto;
    display: flex;
    justify-content: space-around;
    margin: 50px 0px 0px 0px;
    flex-direction:row-reverse;
}

.img-Boxe1{
    width: 375px;
    height: 38.3vh;
    border-radius: 12px;
}
.box-1 {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background: linear-gradient(rgb(238, 238, 238));
    box-shadow: 1px 2px rgba(0, 0, 0, 0.2);
    float: inline-end;
}
.box-1 b{
    text-align: end;
    margin: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}
.box-1 a{
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    color: black;
    margin: 10px;
    width:100px;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    border-radius: 12px;
    text-decoration: none;
    color: white;
}
.box-1 a:hover{
    background-color: rgb(179, 0, 0);
    font-size: large;
}

.box-2 {
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgb(238, 238, 238));
    box-shadow: 1px 2px rgba(0, 0, 0, 0.2);
    text-align: end;
    margin: 0;
}
.img-Boxe2{
    width: 375px;
    height: 38.3vh;
    border-radius: 12px;
}
.box-2 b{
    text-align: end;
    margin: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}
.box-2 a{
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    color: black;
    margin: 10px;
    width:100px;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    border-radius: 12px;
    text-decoration: none;
    color: white;
}
.box-2 a:hover{
    background-color: rgb(179, 0, 0);
    font-size: large;
}

.box-3 {
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgb(238, 238, 238));
    box-shadow: 1px 2px rgba(0, 0, 0, 0.2);
    text-align: end;
    margin: 0;
}
.img-Boxe3{
    width: 375px;
    height: 38.3vh;
    border-radius: 12px;
}
.box-3 b{
    text-align: end;
    margin: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}
.box-3 a{
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    color: black;
    margin: 10px;
    width:100px;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    border-radius: 12px;
    text-decoration: none;
    color: white;
}
.box-3 a:hover{
    background-color: rgb(179, 0, 0);
    font-size: large;
}

.img-Boxe4{
    width: 375px;
    height: 41vh;
    border-radius: 12px;
}
.box-4 {
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgb(238, 238, 238));
    box-shadow: 1px 2px rgba(0, 0, 0, 0.2);
}
.box-4 b{
    text-align: end;
    margin: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}
.box-4 a{
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    color: black;
    margin: 10px;
    width:100px;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    border-radius: 12px;
    text-decoration: none;
    color: white;
}
.box-4 a:hover{
    background-color: rgb(179, 0, 0);
    font-size: large;
}

.dropdown{
    display: inline-block;
}
.dropdown li{
    cursor: pointer;
}
.dropdown .content{
    display: none;
    position:absolute;
    min-width: 130px;
    height: 20vh;
    box-shadow: 3px 3px 15px rgba(250, 0, 0, 0.402);
}
.dropdown:hover .content{
    transition: 0.5s;
    display:grid;
    background-color: white;
    border-radius: 12px;
}



.img-Boxe5{
    width: 375px;
    height: 41vh;
    border-radius: 12px;
}
.box-5 {
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgb(238, 238, 238));
    box-shadow: 1px 2px rgba(0, 0, 0, 0.2);
}
.box-5 b{
    text-align: end;
    margin: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}
.box-5 a{
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    color: black;
    margin: 10px;
    width:100px;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    border-radius: 12px;
    text-decoration: none;
    color: white;
}
.box-5 a:hover{
    background-color: rgb(179, 0, 0);
    font-size: large;
}

.img-Boxe6{
    width: 375px;
    height: 41vh;
    border-radius: 12px;
}
.box-6 {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background: linear-gradient(rgb(238, 238, 238));
    box-shadow: 1px 2px rgba(0, 0, 0, 0.2);
    float: inline-end;
}
.box-6 b{
    text-align: end;
    margin: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}
.box-6 a{
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    color: black;
    margin: 10px;
    width:100px;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    border-radius: 12px;
    text-decoration: none;
    color: white;
}
.box-6 a:hover{
    background-color: rgb(179, 0, 0);
    font-size: large;
}

.big-box{
    width:100%;
    height: 50vh;
    background: linear-gradient(rgb(199, 0, 0),rgb(31, 31, 31));
    display: flex;
    justify-content: end;
    margin-top: 10%;
}
.icons{
    display:inline-flex;
    align-items: end;
    justify-content: start;
    padding-bottom: 30px;
    margin-right: 170px;
}
.whatsapp{
    float: left;
    width: 40px;
    padding-right:10px ;
    display: inline-flex;
    margin: 12px;
}
.facebook{
    width: 45px;
    margin: 5px;
    padding-right:10px ;
}
.messenger{
    width: 45px;
    padding-right:10px;
    margin: 4px;
}
.icons img:hover{
    width: 50px;
}
.s-box1 {
    margin-right: 40px;
    width: 35%;
    text-align: end;
    margin-top: 20px;
    font-size: larger;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.s-box1 ul{
    display: inline-block;
    list-style:none;
}
.s-box1 ul a{
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1;
    display:grid;
}

.s-box ul{
    display: inline-block;
    list-style:none;
}
.s-box ul a{
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 2;
    display:grid;
}
.s-box ul a:hover{
    color: rgb(255, 8, 8);
    transform: ;
    font-size: 22px;
}
.first-a{
    font-size: larger;
}
.s-box {
    margin-right: 40px;
    width: 20%;
    text-align: end;
    margin-top: 20px;
    font-size: larger;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer{
    text-align: center;
    background: linear-gradient(rgb(15, 0, 0),rgb(94, 0, 0));
    display: block;
    clear: both;
    padding: 15px;
}
footer a{
    gap: 10px;
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
footer img{
    background: linear-gradient(black);
}

@media screen and (max-width:600px) {
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    nav{
        top: -130px;
        right: 0px;
        box-shadow: 3px 3px rgb(0, 0, 0,0.1);
        width: 100%;
        position: fixed;
        position: relative;
    }
    
    nav ul{
        display: inline-flex;
        justify-content: center;
    }
    #showSidebar {
        display: block;
        align-items: end;
        justify-content: center;    
    }
    #hideOnMobile {
        display: none;
    }

    .Boxes{
        display: grid;
        justify-content: center;
    }
    .Boxes-1{
        display: grid;
        justify-content: center;
    }

    .box-2 {
        margin-top: 50px;
    }
    .box-3 {
        margin-top: 50px;
    }
    .box-4 {
        margin-top: 50px;
    }
    .box-5 {
        margin-top: 50px;
    }
    .box-6 {
        margin-top: 50px;
    }

    .img-Boxe1{
        width: 375px;
        border-radius: 12px;
    }
    .img-Boxe2{
        width: 375px;
        border-radius: 12px;
    }
    .img-Boxe3{
        width: 375px;
        border-radius: 12px;
    }
    .img-Boxe4{
        width: 375px;
        border-radius: 12px;
    }
    .img-Boxe6{
        width: 376px;
        border-radius: 12px;
    }

    .big-box{
        margin-top: 100px;
        height: 350px;
    }
    .icons{
        display:inline-flex;
        align-items: end;
        justify-content: center;
        padding-bottom: 30px;
        margin-right: -300px;
    }

    .s-box1 {
        margin-right: 70px;
        width: 47%;
        text-align: end;
        margin-top: 20px;
        font-size: larger;
    }
    .s-box1 ul a{
        line-height: 1;
    }
    .s-box1 a{
        font-size: 10px;
    }
    .s-box1 hr{
        width: 24vh;
        height: 0.1vh;
        background-color: white;
        align-items: start;
        border-style: none;
    }
    .first-a{
        font-size: 13px;
    }
    .s-box{
        width: 26%;
    }
    .s-box ul a{
        text-decoration: none;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        line-height: 3;
        display:grid;
        font-size: 10px;
        display:block;
    }
    .s-box hr{

        height: 0.1vh;
        background-color: white;
        align-items: start;
        border-style: none;
    }

}