*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(Untitled.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.FirstDiv{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 3.5px 0;
    background: linear-gradient(to left, red,black,green,white);
    z-index: 100;
}

nav{
    top: 7px;
    box-shadow: 3px 3px rgb(0, 0, 0,0.1);
    width: 100%;
    position: fixed;
}
nav ul{
    width: 100%;
    list-style: none;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: fixed;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 10;
}
nav li a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
    color: black;
    padding: 20px 25px;
}
nav li.FF{
    border-bottom-style:inset;
    border-bottom-color: red;
}
nav a:hover{
    font-size: 18px;
    color: rgb(176, 0, 0);
}
nav .first{
    margin-right: auto;
}
nav .first:hover{
    height: 100%;
}
header img{
    height: 70px;
    margin: 0px 0px 7px;
}

.sidebar{
    position: fixed;
    right: 0;
    height: 100vh;
    width: 200px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.797);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.sidebar li{
    width: 110%;
}
#showSidebar{
    display: none;
}

.Boxes{
    display: flex;
    height: auto;
    justify-content: space-around;
    margin: 130px 0px 0px 0px;
    flex-direction:row-reverse;
}
.Yasser{
    border-radius: 12px;
}
.Abo-Mazen{
    height: 69vh;
    border-radius: 12px;
}
.Boxes{
    height: auto;
    display: flex;
    justify-content: space-around;
    margin: 130px 0px 0px 0px;
    flex-direction:row-reverse;
}
.box-1 {
    width: 45%;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background: linear-gradient(rgb(238, 238, 238));
    box-shadow: 1px 2px rgba(0, 0, 0, 0.2);
    float: inline-end;
    gap: 10px;
}
.box-1 h1{
    font-size: 22px;
    text-align: center;
}
.box-1 b{
    text-align: end;
    margin: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.box-2 {
    width: 45%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgb(238, 238, 238));
    box-shadow: 1px 2px rgba(0, 0, 0, 0.2);
    text-align: end;
    margin: 0;
    gap: 10px;
}
.box-2 h1{
    font-size: 22px;
    text-align: center;
}
.box-2 b{
    text-align: center;
    margin: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.big-box{
    width:100%;
    height: 50vh;
    background: linear-gradient(rgb(199, 0, 0),rgb(31, 31, 31));
    display: flex;
    justify-content: end;
    margin-top: 10%;
}
.icons{
    display:inline-flex;
    align-items: end;
    justify-content: start;
    padding-bottom: 30px;
    margin-right: 170px;
}
.whatsapp{
    float: left;
    width: 40px;
    padding-right:10px ;
    display: inline-flex;
    margin: 12px;
}
.facebook{
    width: 45px;
    margin: 5px;
    padding-right:10px ;
}
.messenger{
    width: 45px;
    padding-right:10px;
    margin: 4px;
}
.icons img:hover{
    width: 50px;
}
.s-box1 {
    margin-right: 40px;
    width: 35%;
    text-align: end;
    margin-top: 20px;
    font-size: larger;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.s-box1 ul{
    display: inline-block;
    list-style:none;
}
.s-box1 ul a{
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1;
    display:grid;
}

.s-box ul{
    display: inline-block;
    list-style:none;
}
.s-box ul a{
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 2;
    display:grid;
}
.s-box ul a:hover{
    color: rgb(255, 8, 8);
    transform: ;
    font-size: 22px;
}
.first-a{
    font-size: larger;
}
.s-box {
    margin-right: 40px;
    width: 20%;
    text-align: end;
    margin-top: 20px;
    font-size: larger;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer{
    text-align: center;
    background: linear-gradient(rgb(15, 0, 0),rgb(94, 0, 0));
    display: block;
    clear: both;
    padding: 15px;
}
footer a{
    gap: 10px;
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
footer img{
    background: linear-gradient(black);
}


@media screen and (max-width:600px) {
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    nav{
        top: -130px;
        right: 0px;
        box-shadow: 3px 3px rgb(0, 0, 0,0.1);
        width: 100%;
        position: fixed;
        position: relative;
    }
    
    nav ul{
        display: inline-flex;
        justify-content: center;
    }
    #showSidebar {
        display: block;
        align-items: end;
        justify-content: center;    
    }
    #hideOnMobile {
        display: none;
    }

    .Boxes{
        display: grid;
        height: auto;
        justify-content: space-around;
        flex-direction:row-reverse;
    }
    .box-1{
        display: grid;
        align-items: center;
        width: 94%;
        margin: 0px 10px;
    }
    .box-1 b{
        font-size: small;
        text-align: center;
    }
    .Yasser{
        width: 99.9%;
    }
    .box-2{
        width: 94%;
        margin: 50px 10px;
        display: flex;
        align-items: center;
    }
    .box-2 b{
        font-size: small;
    }
    .Abo-Mazen{
        width: 99.9%;
        height: auto;
    }

    .big-box{
        margin-top: 70px;
        height: 350px;
    }
    .icons{
        display:inline-flex;
        align-items: end;
        justify-content: center;
        padding-bottom: 30px;
        margin-right: -300px;
    }

    .s-box1 {
        margin-right: 70px;
        width: 47%;
        text-align: end;
        margin-top: 20px;
        font-size: larger;
    }
    .s-box1 ul a{
        line-height: 1;
    }
    .s-box1 a{
        font-size: 10px;
    }
    .s-box1 hr{
        width: 24vh;
        height: 0.1vh;
        background-color: white;
        align-items: start;
        border-style: none;
    }
    .first-a{
        font-size: 13px;
    }
    .s-box{
        width: 26%;
    }
    .s-box ul a{
        text-decoration: none;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        line-height: 3;
        display:grid;
        font-size: 10px;
        display:block;
    }
    .s-box hr{

        height: 0.1vh;
        background-color: white;
        align-items: start;
        border-style: none;
    }
}