*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 0.9s;
}
body.loaded {
  opacity: 1;
  transform: translateY(0);
}

.FirstDiv{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 3.5px 0;
    background: linear-gradient(to left, red,black,green,white);
    z-index: 9999;
}
nav{
    top: 7px;
    box-shadow: 3px 3px rgb(0, 0, 0,0.1);
    width: 100%;
    position: fixed;
}
nav ul{
    width: 100%;
    list-style: none;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: fixed;
    background-color: rgba(255, 255, 255, 0.906);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 9999;
}
nav li a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
    color: black;
    padding: 20px 25px;
}
nav li.FF{
    border-bottom-style:inset;
    border-bottom-color: red;
}
nav a:hover{
    font-size: 18px;
    color: rgb(176, 0, 0);
}
nav .first{
    margin-right: auto;
}
nav .first:hover{
    height: 100%;
}
header img{
    height: 70px;
    margin: 0px 0px 7px;
}
.Ss{
    margin-right: 5px;
}
.dropdown{
    display: inline-block;
}
.dropdown li{
    cursor: pointer;
}
.dropdown .content{
    display: none;
    position:absolute;
    min-width: 130px;
    height: 20vh;
    box-shadow: 3px 3px 15px rgba(250, 0, 0, 0.402);
}
.dropdown:hover .content{
    transition: 0.5s;
    display:grid;
    background-color: white;
}


.sidebar.active {
    transform: translateX(0);
}
.sidebar{
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    position: fixed;
    right: 0;
    height: 100vh;
    width: 200px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.797);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
    
.sidebar {
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    position: fixed;
    right: 0;
    width: 200px;
    height: 100vh;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.797);
    backdrop-filter: blur(10px);
    box-shadow: 12px 0px 10px rgba(0, 0, 0, 0.1);
}

.sidebar.active {
    transform: translateX(0);
}


.sidebar li{
    width: 110%;
}
#showSidebar{
    display: none;
}

header img{
    height: 70px;
    margin: 0px 0px 7px;
}
.title-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42vh; /* يخلي النص في منتصف الشاشة */
}
.title-box h1 {
    text-align: center;
    font-size: 36px;
    margin: 0;
}

.title{
    display: flex;
    gap: 20px;
}
.title a{
    box-shadow: 3px 3px 20px rgb(5, 5, 5);
    background: linear-gradient(rgba(255, 255, 255, 0.253));
    float: left;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    font-weight: 600;
}
.title img{
    float: right;
    box-shadow: 3px 3px 20px rgb(5, 5, 5);
}
.Hr{
    text-decoration: none;
    margin-top: 150px;
    display: inline-flex;
    justify-content: flex-end;
    text-align:end;
}
.Hr a{
    text-decoration: none;
    font-size: large;
    text-align: left;
    text-decoration: none;
    color: white;
    margin: 14px 40px;
}
.Hr hr{
    width: 154vh;
    height: 0.3vh;
    background-color: red;
    align-items: start;
    border-style: none;
}
.Hr h1{
    float: right;
    color: rgb(237, 237, 237);
}
.Yasser{
    gap: 50px;
    border-radius: 12px;
    width:30%;
    display: flex;
    align-items: end;
    float: right;
    box-shadow: 3px 3px 20px black;
}
.box1{
    width: 68%;
    height: 270px;
    align-items: end;
    background: linear-gradient(rgba(255, 255, 255, 0.689));
    border-radius: 12px;
    box-shadow: 3px 3px 20px rgba(161, 0, 0, 0.594);
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.button-y{
    position: static;
    width: 15%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.986);
    border-radius: 12px;
    display: flex;
    align-items: end;
    margin-top: 50px;
    margin-left: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    z-index: 1; /* عشان يكون فوق باقي العناصر */
}
.button-y a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.button-y:hover{
    background-color: rgb(211, 0, 0);
    font-size: 20px;
}
.button-m{
    position: static;
    width: 15%;
    height: 30px;
    background-color: rgb(0, 0, 0);
    border-radius: 12px;
    display: flex;
    align-items: end;
    margin-top: 50px;
    margin-left: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    z-index: 1; /* عشان يكون فوق باقي العناصر */
}
.button-m a{
    text-decoration: none;
    color: white;
}
.button-m:hover{
    background-color: rgb(211, 0, 0);
    font-size: 20px;
}

.Abo-Mazen{
    border-radius: 12px;
    width:30%;
    display: flex;
    align-items: end;
    float: right;
    box-shadow: 3px 3px 20px black;
}
.box2{
    margin-top: 100px;
    width: 68%;
    height: 39.2vh;
    align-items: end;
    background: linear-gradient(rgba(255, 255, 255, 0.689));
    border-radius: 12px;
    box-shadow: 3px 3px 20px rgba(161, 0, 0, 0.594);
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.big-box{
    width:100%;
    height: 50vh;
    background: linear-gradient(rgb(199, 0, 0),rgb(31, 31, 31));
    display: flex;
    justify-content: end;
    margin-top: 10%;
}
.icons{
    display:inline-flex;
    align-items: end;
    justify-content: start;
    padding-bottom: 30px;
    margin-right: 170px;
}
.whatsapp{
    float: left;
    width: 40px;
    padding-right:10px ;
    display: inline-flex;
    margin: 12px;
}
.facebook{
    width: 45px;
    margin: 5px;
    padding-right:10px ;
}
.messenger{
    width: 45px;
    padding-right:10px;
    margin: 4px;
}
.icons img:hover{
    width: 50px;
}
.s-box1 {
    margin-right: 40px;
    width: 35%;
    text-align: end;
    margin-top: 20px;
    font-size: larger;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.s-box1 ul{
    display: inline-block;
    list-style:none;
}
.s-box1 ul a{
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1;
    display:grid;
}

.s-box ul{
    display: inline-block;
    list-style:none;
}
.s-box ul a{
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 2;
    display:grid;
}
.s-box ul a:hover{
    color: rgb(255, 8, 8);
    transform: ;
    font-size: 22px;
}
.first-a{
    font-size: larger;
}
.s-box {
    margin-right: 40px;
    width: 20%;
    text-align: end;
    margin-top: 20px;
    font-size: larger;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer{
    text-align: center;
    background: linear-gradient(rgb(15, 0, 0),rgb(94, 0, 0));
    display: block;
    clear: both;
    padding: 15px;
}
footer a{
    gap: 10px;
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
footer img{
    background: linear-gradient(black);
}
@media screen and (max-width:600px) {
    *{
        box-sizing: border-box;
        margin: 0;
    }

    nav{
        top: -2px;
        right: 0px;
        box-shadow: 3px 3px rgb(0, 0, 0,0.1);
        width: 100%;
        position: fixed;
    }

    #showSidebar {
        display: block;
        align-items: end;
        justify-content: center;
    }
    #hideOnMobile {
        display: none;
    }

    nav ul{
        display: inline-flex;
        justify-content: start;
    }

    .S{
        float: inline-end;
        margin-right: 20px;
    }

    .title-box h1{
        font-size: larger;
        text-align: center;
        margin: 0;
    }

    .title{
        gap: 20px;
        flex-direction: column-reverse;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .title a{
        box-shadow: 3px 3px 20px rgb(5, 5, 5);
        background: linear-gradient(rgba(51, 51, 51, 0.591),white);
        box-sizing: border-box;
        text-align: center;
        border-radius: 12px;
        width: 80%;
    }
    .title img{
        width: 80%;
        height: auto;
        display: block;
        justify-content: center;
        align-items: center;
        box-shadow: 3px 3px 20px rgb(5, 5, 5);
    }

    .sidebar{
        height: 70vh;
        width: 342px;
    }

    .Hr a{
        font-size: 14px;
    }
    .Hr h1{
        font-size: medium;
        margin-top: 16px;
    }
    .Hr hr{
        width: 26vh;
        height: 0.3vh;
        background-color: red;
        align-items: start;
        border-style: none;
    }

    .Y-B1{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    .Yasser{
        width: 80%;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        box-shadow: 3px 3px 20px black;
    }
    .box1{
        width: 80%;
        height: auto;
        background: linear-gradient(to left,rgba(45, 45, 45, 0.587),white);
        border-radius: 12px;
        box-shadow: 3px 3px 20px rgba(161, 0, 0, 0.594);
        line-height: 2;
    }
    .box1 h1{
        font-size: medium;
    }
    .button-y{
        margin-bottom: 30px;
        width: 23%;
    }

    .M-B2{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Abo-Mazen{
        width: 80%;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        box-shadow: 3px 3px 20px black;
    }
    .box2{
        width: 80%;
        height: auto;
        background: linear-gradient(to left,rgba(45, 45, 45, 0.587),white);
        border-radius: 12px;
        box-shadow: 3px 3px 20px rgba(161, 0, 0, 0.594);
        line-height: 2;
    }
    .box2 h1{
        font-size: medium;
    }
    .button-m{
        margin-bottom: 30px;
        width: 23%;
    }

    .big-box{
        margin-top: 100px;
        height: 350px;
    }
    .icons{
        display:inline-flex;
        align-items: end;
        justify-content: center;
        padding-bottom: 30px;
        margin-right: -300px;
    }

    .s-box1 {
        margin-right: 70px;
        width: 47%;
        text-align: end;
        margin-top: 20px;
        font-size: larger;
    }
    .s-box1 ul a{
        line-height: 1;
    }
    .s-box1 a{
        font-size: 10px;
    }
    .s-box1 hr{
        width: 24vh;
        height: 0.1vh;
        background-color: white;
        align-items: start;
        border-style: none;
    }
    .first-a{
        font-size: 13px;
    }

    .s-box{
        width: 26%;
    }
    .s-box ul a{
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 3;
    display:grid;
    font-size: 10px;
    display:block;
    }
    .s-box hr{

        height: 0.1vh;
        background-color: white;
        align-items: start;
        border-style: none;
    }
}

.page-enter {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.page-enter-active {
  opacity: 1;
  transform: translateY(0);
}
