body{
    background-image: url(https://static.srpcdigital.com/styles/1200x600/public/2024-03/567961_0.png.webp);
    background-size:cover;
    background-repeat: no-repeat;
}
.Login{
    float: inline-start;
    border-radius: 100vh;
    border-style: none;
    width: 6vh;
    height: 6vh;
}
.div1 h1{
    color: aqua;
    text-align: center;
}
.div1 ul{
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.772);
    padding: 0px ;
    margin: 0px;
    text-align: center;
    overflow: ;
    background-size:cover;
}
.div1 a{
    color: white;
    text-decoration: none;
    padding: 1.3vh;
    display: block;
}
