*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(jpg.png);
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.FirstDiv{
    position: fixed;
    padding: 3.5px 0;
    z-index: 100;
    background: linear-gradient(to left, red,black,green,white);
    min-width: 100.1%;
    height: 0.7vh;
}
.jpg{
    margin-left: 4px;
}
.nav-menu {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center; /* توسيط أفقي */
  align-items: center;     /* توسيط عمودي */
  flex-direction: column;  /* ترتيب عمودي */
}
.nav-menu .jpg {
  width: 100%;
  display: block;
}
.nav-menu ul {
  right: 180px; /* المسافة من الجهة اليمنى */
  position: fixed;
  top: 20px; /* المسافة من الأعلى */
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  flex-wrap:wrap;
}
.nav-menu a {
  font-weight: 550;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}
.nav-menu a:hover{
    color: aqua;
}
#li-omg-pe{
  position: relative;
  right: -160px; /* المسافة من الجهة اليمنى */
  top: 0px;
  gap: 0px;
  font-weight: 550;
  display: flex;
  color: white;
  border-radius: 5px;
}
.svg-menu{
    position: relative;
    display: flex;
    right: 200px;
    border-style: none;
}
.svg-menu:hover {
    width: 30px;
}
.Boxes{
    width: 40%;
    margin: 150px 0px 0px 0px;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-direction:row-reverse;
}

.box-nav1 {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background: linear-gradient(rgb(238, 238, 238));
    box-shadow: 1px 2px rgba(0, 0, 0, 0.2);
    float: inline-end;
}
.box-nav1 img{
    border-radius: 10px;
}
.box-nav1 b{
    opacity: 0;
    transition: opacity 0.3s ease;
    display: none;
    text-align: end;
    margin: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box-nav1:hover b{
    display: block;
    opacity: 1;
}
.box-nav1 img:hover(.box-nav1 b){
    display: flex;
}

.box-nav2 {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background: linear-gradient(rgb(238, 238, 238));
    box-shadow: 1px 2px rgba(0, 0, 0, 0.2);
    float: inline-end;
}
.box-nav2 img{
    border-radius: 10px;
}
.box-nav2 b{
    opacity: 0;
    transition: opacity 0.3s ease;
    display: none;
    text-align: end;
    margin: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box-nav2:hover b{
    display: block;
    opacity: 1;
}
.box-nav2 img:hover(.box-nav1 b){
    display: flex;
}