*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-header {
    position: relative;
}

.top-header h2{
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    overflow: hidden; 
    direction: rtl;
    margin: 15px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.top-header img {
    position: absolute;
    top: -10px;
    right: 43%;
}

.top-header-1 {
    position: relative;
}

.top-header-1 h2{
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    overflow: hidden;
    margin: 0px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#top-header-1-h2-1{
    position: absolute;
    top: -84px;
    left: 0;
}

#top-header-1-h2-2{
    position: absolute;
    top: -43px;
    left: 0;
}

/* A row contains 4 cells: EN label, EN input, AR label, AR input */
.container {
    position: absolute;
    top: 150px;
    grid-template-columns: 180px 1fr 180px 1fr; /* tweak widths */
    gap: 8px 14px; /* row-gap col-gap */
    align-items: center;
}

/* Make English read left-to-right and Arabic right-to-left */
.label-en, .input-en { direction: ltr; text-align: left; }
.label-ar, .input-ar { direction: rtl; text-align: right; }

/* Optional styling */


.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 10px;
    margin-bottom: 12px;
    margin-left: 340px;
}

/* Make both halves the same width */
.row > .en,
.row > .ar {
    flex: 1 1 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    outline: none;
}

/* Text directions */
.en { direction: ltr; }
.ar { direction: rtl; }

#ID{
    gap: 10px;
    margin-left: 38px;
}

#ID-ar{
    width: 25%;
    text-align: center;
    outline: none;
}

#NAME {
    margin-left: 100px;
    gap: 10px;
    justify-content: center;
}

#NAME-ar,
#NAME-en {
    text-align: center;
    outline: none;
}

#FATHER {
    margin-left: -10px;
    gap: 10px;
}

#FATHER-ar,
#FATHER-en {
    text-align: center;
    outline: none;
}

#GRANDFATHERS {
    margin-left: -72px;
    gap: 10px;
}

#GRANDFATHERS-ar,
#GRANDFATHERS-en {
    text-align: center;
    outline: none;
}

#FAMILYNAME {
    margin-left: 11px;
    gap: 10px;
}

#FAMILYNAME-ar,
#FAMILYNAME-en {
    text-align: center;
    outline: none;

}

#MOTHERSNAME {
    margin-left: -25px;
    gap: 10px;
}

#MOTHERSNAME-ar,
#MOTHERSNAME-en {
    text-align: center;
    outline: none;

}

#DATE {
    margin-left: 16px;
    gap: 10px;
}

#DATE-ar, 
#DATE-en {
    width: 28.1%;
    text-align: center;
    outline: none;
}

#PLACEBIRTH {
    margin-left: 2px;
    gap: 10px;
}

#PLACEBIRTH-ar,
#PLACEBIRTH-en {
    text-align: center;
    outline: none;

}

#SEX {
    margin-left: 30px;
    gap: 5px;
}

#SEX-ar,
#SEX-en {
    text-align: center;
    outline: none;
}

.pp {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 70px;
}

.p {
    border: 0.7px solid;
    width: 160px;   
    height: 20vh;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0px 10px;
    top: -17px;
}


/* Visible on screen */
.no-print { 
    display: inline-block;
    float: left;
    margin: 0px 100px;
    width: 10%;
    height: 4vh;
    background-color: rgb(0, 58, 26);
    color: white;
    border-style: none;
    border-radius: 12px;
    font-size: large;
    cursor: pointer;
}

@media screen and (max-width: 1210px) {
.top-header h2{
    margin: 20px 10px;
    font-size: medium;
}

.top-header img {
    position: absolute;
    top: 0px;
    right: 41%;
    width: 13%;
}

.top-header-1 h2{
    margin: 5px 10px;
    font-size: medium;
}

.pp {
    margin-right: 30px;
    margin-top: 5px;
}

.p {
    width: 110px;   
    height: 17vh;
}

/* A row contains 4 cells: EN label, EN input, AR label, AR input */
.container {
    position: absolute;
    top: 250px;
    gap: 5px 10px; /* row-gap col-gap */
    font-size: small;
}

#ID{
    font-size: smaller;
    gap: 10px;
    margin-left: 22px;
}

#ID-ar{
    width: 48.4%;
}

#NAME {
    font-size: smaller;
    margin-left: 53px;
    gap: 10px;
}

#NAME-ar,
#NAME-en {
    width: 24.6%;
}

#FATHER {
    font-size: smaller;
    margin-left: -20px;
    gap: 10px;
}

#FATHER-ar,
#FATHER-en {
    width: 22.2%;
}

#GRANDFATHERS {
    font-size: smaller;
    margin-left: -60px;
}

#GRANDFATHERS-ar,
#GRANDFATHERS-en {
    width: 21%;
}

#FAMILYNAME {
    font-size:smaller;
    margin-left: -3px;
}

#FAMILYNAME-ar,
#FAMILYNAME-en {
    width: 22.6%;
}

#MOTHERSNAME {
    font-size: smaller;
    margin-left: -27px;
}

#MOTHERSNAME-ar,
#MOTHERSNAME-en {
    width: 21.9%;
}

#DATE {
    margin-left: -6px;
}

#DATE-ar, 
#DATE-en {
    width: 22.6%;
}

#PLACEBIRTH {
    margin-left: -15px;
}

#PLACEBIRTH-ar,
#PLACEBIRTH-en {
    width: 22.4%;
}

#SEX {
    margin-left: 12px;
    gap: 10px;
}

#PROFESSION {
    margin-left: -15px;
}

#PROFESSION-ar,
#PROFESSION-en {
    width: 22.4%;
}

#CITY {
    margin-left: 36px;
}

#CITY-ar,
#CITY-en {
    width: 24%;
}

#TELEPHONE {
    margin-left: -15px;
}

#TELEPHONE-ar,
#TELEPHONE-en {
    width: 22.4%;
}

.aside-2 p {
    margin: 10px 10px;
    line-height: 2;
}

.aside-2-input {
    font-size: smaller;
}

#aside-2-tel {
    width: 67px;
}

.no-print { 
    margin: 10px 40px;
    width: 20%;
    font-size: large;
}

}

@media screen and (max-width: 600px) {
.top-header h2{
    margin: 20px 10px;
    font-size: medium;
}

.top-header img {
    position: absolute;
    top: 0px;
    right: 40%;
    width: 13%;
}

.top-header-1 h2{
    margin: 5px 10px;
    font-size: medium;
}

.pp {
    margin-right: 30px;
    margin-top: 5px;
}

.p {
    width: 90px;   
    height: 15vh;
}

/* A row contains 4 cells: EN label, EN input, AR label, AR input */
.container {
    position: absolute;
    top: 250px;
    gap: 5px 10px; /* row-gap col-gap */
    font-size: small;
}

#ID{
    font-size: smaller;
    gap: 10px;
    margin-left: 22px;
}

#ID-ar{
    width: 48.4%;
}

#NAME {
    font-size: smaller;
    margin-left: 55px;
    gap: 10px;
}

#NAME-ar,
#NAME-en {
    width: 25%;
}

#FATHER {
    font-size: smaller;
    margin-left: -20px;
    gap: 10px;
}

#FATHER-ar,
#FATHER-en {
    width: 21.6%;
}

#GRANDFATHERS {
    font-size: smaller;
    margin-left: -60px;
}

#GRANDFATHERS-ar,
#GRANDFATHERS-en {
    width: 20.2%;
}

#FAMILYNAME {
    font-size:smaller;
    margin-left: -2px;
}

#FAMILYNAME-ar,
#FAMILYNAME-en {
    width: 22.4%;
}

#MOTHERSNAME {
    font-size: smaller;
    margin-left: -25px;
}

#MOTHERSNAME-ar,
#MOTHERSNAME-en {
    width: 21.5%;
}

#DATE {
    margin-left: -4px;
}

#DATE-ar, 
#DATE-en {
    width: 22.4%;
}

#PLACEBIRTH {
    margin-left: -13px;
}

#PLACEBIRTH-ar,
#PLACEBIRTH-en {
    width: 22%;
}

#SEX {
    margin-left: 12px;
    gap: 10px;
}

#PROFESSION {
    margin-left: -12px;
}

#PROFESSION-ar,
#PROFESSION-en {
    width: 22%;
}

#CITY {
    margin-left: 40px;
}

#CITY-ar,
#CITY-en {
    width: 24.4%;
}

#TELEPHONE {
    margin-left: -10px;
}

#TELEPHONE-ar,
#TELEPHONE-en {
    width: 22.2%;
}

.aside {
    width: 96%;
    font-size: smaller;
}

.aside-1 {
    width: 96%;
    margin: 10px 10px;
}

.aside-2 {
    width: 100%;
    text-align: start;
    line-height: 1.5;
}

.aside-2 p {
    margin: 10px 10px;
    line-height: 2;
}

.aside-2-input {
    font-size: smaller;
    width: 85px;
}

#aside-2-tel {
    width: 67px;
}

.no-print { 
    margin: 10px 40px;
    width: 20%;
    font-size: medium;
}

}

/* Hidden only when printing or in print preview */
@media print {
    .no-print {
        display: none !important;
    }

    body {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        overflow: visible;
    }

  /* Scale down content to fit one page */
    html, body {
        zoom: 85%; /* Adjust percentage until everything fits */
    }

    /* Avoid page breaks */
    .page-break {
        page-break-after: avoid;
        break-after: avoid;
    }

    .row {
        margin-left: 180px;
    }

    .pp {
        margin-left: 30px;
    }

    .p {
    border: 0.7px solid;
    width: 110px;   
    height: 10vh;
    }

}

@page {
    size: A4; /* or letter */
    margin: 10mm;
}
