* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    direction: rtl;
}

body {
    display: flex;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: url(jaffa.jpg) no-repeat;
    padding: 0 10px;
}

body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}

.container {
    width: 400px;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    border: 1px solid #ffffffac;
    box-shadow: 3px 6px 5px #161616ac;
    backdrop-filter: blur(1px);
    background-color: rgb(239, 239, 239);
    --webkit-backdrop-filter: blur(0px);
}

form {
    display: flex;
    flex-direction: column;
}

h2{
    font-size: 2rem;
    margin-bottom: 20px;
}

.input-text {
    position: relative;
    border-bottom: 2px solid #6c6c6c80;
    margin: 15px 0;
}

.input-text label {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    color: #000;
    font-size: 16px;
    pointer-events: none;
    transition: 0.15s ease;
}

.input-text input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
}

.input-text input:focus~label,
.input-text input:valid~label {
    font-size: 0.8rem;
    top: -30px;
    transform: translateY(-120%);
}

.forget {
    display: flex;
    align-items: center;
    margin: 25px 0 30px 0;
    color: #fff;
}

#remember {
    accent-color: #ffffffea;
}

.remember {
    gap: 10px;
}

.forget label {
    display: flex;
    align-items: center;
}

.forget p {
    border-radius: 50%;
    color: #000;
    margin-left: 8px;
}

.container a {
    color: #000;
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
}

button {
    background: #ffffff;
    box-shadow: 3px 3px 3px rgba(164, 164, 164, 0.732);
    color: #000;
    font-weight: 600;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 40px;
    border: 2px solid transparent;
    transition: 0.3s ease;
}

button:hover {
    background-color: #999999c7;
    border: #000;
}

.register  {
    text-align: center;
    margin-top: 30px;
}

.register a {
    color: #0048a1;
}