* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(231, 231, 231);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Embassy-img {
    position: relative;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    overflow: hidden; 
    direction: rtl;
    text-align: right;
}

.Embassy-img img {
    height: 40vh;
}

.Embassy-img h2 {
    position: absolute;
    width: 18%;
    height: 10vh;
    text-align: center;
    align-content: center;
    top: 290px;
    margin: 10px 190px;
    border-radius: 12px;
    background-color: rgba(254, 254, 254, 0.763);
    color: black;
}

.div-ul {
    width: 90%;
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin-top: 120px;
    margin-left: 65px;
    background-color: rgb(222, 222, 222);
}

.div-ul h2, li{
    position: relative;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    direction: rtl;
    text-align: right;
    margin: 20px 70px;
    background-color: rgb(222, 222, 222);
}

ul, p{
    list-style: decimal;
    font-size: large;
    margin: 0px 50px;
    background-color: rgb(222, 222, 222);
}

@media screen and (max-width: 1210px) {
    .Embassy-img img {
        height: 35vh;
    }
    .Embassy-img h2 {
        top: 130px;
        width: 25%;
        margin: 20px;
        font-size: larger;
    }

    .div-ul {
        margin-top: 100px;
        margin-left: 25px;
    }

    .div-ul h2, li{
        font-size: larger;
        margin: 20px 10px;
    }

    ul, p{
        font-size: medium;
    }
}

@media screen and (max-width: 600px) {
    .Embassy-img img {
        height: 25vh;
    }
    .Embassy-img h2 {
        top: 80px;
        width: 25%;
        font-size: medium;
    }

    .div-ul {
        margin-top: 100px;
        margin-left: 25px;
    }

    .div-ul h2, li{
        font-size: medium;
        margin: 20px 10px;
    }

    ul, p{
        font-size: small;
    }
}

