* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    direction: rtl;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: url(jaffa.jpg) no-repeat;
    background-size: cover;
}

.container {
    max-width: 700px;
    width: 100%;
    background: #ffff;
    padding: 25px 30px;
    border-radius: 5px;
    /*backdrop-filter: blur(2px);*/
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: #254726d2;
}

.container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box {
    margin-bottom: 3px;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input, select {
    height: 30px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-right: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

select {
    border-radius: 5px;
}

select .option {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    z-index: 10;
    flex-direction: column;
    margin-top: 5px;
    border: #254726d2;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #254726d2;
}

form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;
}

form .gender-details .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

.gender-details .category label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.gender-details .category .dot {
    height: 18px;
    width: 18px;
    background: #b4b4b4;
    border-radius: 50%;
    margin-left: 10px;
    border: 5px solid transparent; 
    transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two{
    border-color: #b4b4b4;
    background: #254726d2;
}

form input[type="radio"] {
    display: none;
    gap: 10px;
}

form .button {
    height: 45px;
    margin: 45px 0;
}

form .button input {
    height: 100%;
    width: 100%;
    color: #000000;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing :1px; 
    background:#ffffff;
    box-shadow: 3px 3px 3px rgb(200, 200, 200);
    cursor: pointer;
    border-radius: 40px;
}

form .button input:hover {
    background:#f1f1f1de;
    transition: all 0.3s ease;
}


@media (max-width: 584px) {
    body {
        background-size: cover;
    }

    .container {
        max-width: 100%;
    }

    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    form .gender-details .category {
        width: 100%;
    }

    .container form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }

}