*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-header {
    position: relative;
}

.top-header h2{
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    overflow: hidden; 
    direction: rtl;
    margin: 15px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.top-header img {
    position: absolute;
    top: -10px;
    right: 50%;
}

.top-header-1 {
    position: relative;
}

.top-header-1 h2{
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    overflow: hidden;
    margin: 0px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#top-header-1-h2-1{
    position: absolute;
    top: -84px;
    left: 0;
}

#top-header-1-h2-2{
    position: absolute;
    top: -43px;
    left: 0;
}

.pp {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 100px;
    font-weight: 600;
    font-size: larger;
    margin-top: 5px;
    margin-bottom: 100px;
}

.div-table {
    display: flex;
    flex-direction: row;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    overflow: hidden; 
    direction: rtl;
    gap: 100px;
    margin: 0px 0px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.div-table, .label {
    display: flex;
    flex-direction: row;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    overflow: hidden; 
    direction: rtl;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    border: 1px solid;
    width: 25%;
}

.label {
    border-style: none;
    margin-right: 10px;
}

.div-table, 
input[type="text"],
input[type="date"],
input[type="tel"] {
    display: flex;
    flex-direction: row;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    overflow: hidden; 
    direction: rtl;
    width:100%;
    height: 5vh;
    cursor: pointer;
    outline: none;
}

.input {
    font-size: 16px;
    justify-content: center;
    text-align:center;
}

.big-table {
    margin: 80px 0;
    border: 2px solid;
}

#div-table-p {
    display: flex;
    margin: 80px 20px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    overflow: hidden; 
    direction: rtl;
    margin-bottom: 100px;
    font-size: x-large;
}

/* Visible on screen */
.no-print { 
    display: inline-block;
    float: left;
    margin: 10px 100px;
    width: 10%;
    height: 3vh;
    background-color: rgb(0, 58, 26);
    color: white;
    border-style: none;
    border-radius: 12px;
    font-size: large;
    cursor: pointer;
    font-weight: 700;
}

@media screen and (max-width: 1210px) {
.top-header h2{
    margin: 20px 10px;
    font-size: medium;
}

.top-header img {
    position: absolute;
    top: 0px;
    right: 41%;
    width: 13%;
}

.top-header-1 h2{
    margin: 5px 10px;
    font-size: medium;
}

.pp {
    margin-right: 30px;
    margin-top: 5px;
}

.div-table, 
input[type="text"],
input[type="date"],
input[type="tel"],
input[type="number"] {
    display: flex;
    flex-direction: row;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    overflow: hidden; 
    direction: rtl;
    width:100%;
    height: 5vh;
    cursor: pointer;
}


.no-print { 
    margin: 10px 40px;
    width: 20%;
    font-size: large;
}

}

@media screen and (max-width: 800px) {
.top-header h2{
    margin: 20px 10px;
    font-size: medium;
}

.top-header img {
    position: absolute;
    top: 0px;
    right: 40%;
    width: 13%;
}

.top-header-1 h2{
    margin: 5px 10px;
    font-size: medium;
}

.pp {
    margin-right: 30px;
    margin-top: 5px;
}

.div-table, 
input[type="text"],
input[type="date"],
input[type="tel"],
input[type="number"] {
    width:100%;
    height: 16vh;
}


/* A row contains 4 cells: EN label, EN input, AR label, AR input */
.no-print { 
    margin: 10px 40px;
    width: 20%;
    font-size: medium;
}

}

/* Hidden only when printing or in print preview */
@media print {
    .no-print {
        display: none !important;
    }

    body {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        overflow: visible;
    }

  /* Scale down content to fit one page */
    html, body {
        zoom: 80%; /* Adjust percentage until everything fits */
    }

    /* Avoid page breaks */
    .page-break {
        page-break-after: avoid;
        break-after: avoid;
    }

    .top-header img {
    right: 43%;
}

.pp, .ppp {
    margin-right: -80px;
}

.big-table {
    height: auto;
}


}

@page {
    size: A4; /* or letter */
    margin: 10mm;
}
