* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(white2-1.png);
  background-repeat: no-repeat;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.FirstDiv {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 3.5px 0;
  background: linear-gradient(to left, red, black, green, white);
  z-index: 100;
}

nav {
  top: 7px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: fixed;
  background-color: white;
  display: flex;
  justify-content: space-between; /* Logo on right, nav on left */
  align-items: center;
  padding: 0 20px;
  z-index: 999;
  direction: rtl;
}

/* Logo aligned to the right */
.logo {
  display: flex;
  justify-content: flex-end; /* Stick to right */
  align-items: center;
  gap: 10px;
}

/* Desktop menu aligned left of the logo */
ul.main-nav {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-start; /* Align left side of logo */
}

ul.main-nav li a {
  text-decoration: none;
  color: black;
  padding: 15px 10px;
  display: block;
  font-weight: 500;
  text-align: right;
}
ul.main-nav li .First-a{
    border-width: 1.5px;
    border-radius: 5px;
    border-style: inset;
    border-color: red;
}
.logo img {
  height: 45px;
}
.logo b {
  font-size: 18px;
}

ul.main-nav li a:hover {
  color: red;
  font-size: 18px;
  transition: 0.3s;
}

/* Desktop Dropdown */
.dropdown {
  position: relative;
  cursor: pointer;
}
.dropdown .content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 130px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  right: 0;
  z-index: 999;
  border-radius: 8px;
}
.dropdown:hover .content {
  display: block;
}
.dropdown .content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
  text-align: right;
}
.dropdown .content a:hover {
  color: red;
}

.sidebar {
  position: fixed;
  top: 52px;
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: white;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  padding-top: 60px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 0;
  overflow-y: auto;
}

.sidebar.active {
  transform: translateX(0);
}

.sidebar li {
  list-style: none;
  padding: 15px 20px;
  border-bottom: 1px solid #ddd;
}
.sidebar li a {
  text-decoration: none;
  color: black;
  display: block;
  cursor: pointer;
  text-align: right;
}
.sidebar li a:hover {
  color: red;
}


/* Sidebar dropdown */
.sidebar .dropdown-sidebar .sub-menu {
  display: none;
  flex-direction: column;
  padding-right: 15px;
}
.sidebar .dropdown-sidebar.active .sub-menu {
  display: flex;
}

/* Hamburger */
#showSidebar {
  display: none;
  cursor: pointer;
}

.Boxes {
  margin-left: 70px;
  margin-top: 100px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}


.Abo-Mazen{
  border-radius: 12px;
  width:100%;
  display: flex;
  flex-direction: row-reverse;
  box-shadow: 3px 3px 20px black;
}

.Yasser {
  display: flex;
  flex-direction: row-reverse;
  border-radius: 12px;
  width:100%;
  box-shadow: 3px 3px 20px black;
}

.box1{
      width: 90%;
    border-radius: 12px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.779);
    background: linear-gradient(rgba(0, 0, 0, 0.838));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; 
  padding: 10px;
  gap: 10px; 
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  overflow: hidden; 
  direction: rtl;
  color: rgb(224, 224, 224);
}
.box1 a{
  padding: 5px;
}
.box2 {
    width: 90%;
    border-radius: 12px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.779);
    background: linear-gradient(rgba(0, 0, 0, 0.838));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; 
  padding: 10px;
  gap: 10px; 
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  overflow: hidden; 
  direction: rtl;
  color: rgb(224, 224, 224);
}

.big-box {
  width: 100%;
  height: 50vh;
  background: linear-gradient(rgb(199, 0, 0), rgb(31, 31, 31));
  display: flex;
  justify-content: end;
  margin-top: 10%;
}
.icons {
  display: inline-flex;
  align-items: end;
  justify-content: start;
  padding-bottom: 30px;
  margin-right: 170px;
}
.whatsapp {
  float: left;
  width: 40px;
  padding-right: 10px;
  display: inline-flex;
  margin: 12px;
}
.facebook {
  width: 45px;
  margin: 5px;
  padding-right: 10px;
}
.messenger {
  width: 45px;
  padding-right: 10px;
  margin: 4px;
}
.icons img:hover {
  width: 50px;
}
.s-box1 {
  margin-right: 40px;
  width: 35%;
  text-align: end;
  margin-top: 20px;
  font-size: larger;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.s-box1 ul {
  display: inline-block;
  list-style: none;
}
.s-box1 ul a {
  text-decoration: none;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 1;
  display: grid;
}

.s-box ul {
  display: inline-block;
  list-style: none;
}
.s-box ul a {
  text-decoration: none;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 2;
  display: grid;
}
.s-box ul a:hover {
  color: rgb(255, 8, 8);
  font-size: 22px;
}
.first-a {
  font-size: larger;
}
.s-box {
  margin-right: 40px;
  width: 20%;
  text-align: end;
  margin-top: 20px;
  font-size: larger;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

footer {
  text-align: center;
  background: linear-gradient(rgb(15, 0, 0), rgb(94, 0, 0));
  display: block;
  clear: both;
  padding: 15px;
}
footer a {
  gap: 10px;
  color: white;
  display: flex;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
footer img {
  background: linear-gradient(black);
}

@media screen and (max-width:1024px) {
  ul.main-nav {
    display: none;
  }
  #showSidebar {
    display: block;
  }

  ul.sidebar li .First-a{
    color: rgb(188, 0, 0);
  }

  .Boxes h1{
    font-size: 27px;
  }
}

@media screen and (max-width:600px) {

    nav .nav-menu li a {
        display: none;
    }

    nav .nav-menu li#showSidebar a {
        display: block;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }

    .cont {
        display: none;
    }
.Boxes {
  margin-left: 0px;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Abo-Mazen{
  margin-top: 0px;
  border-radius: 12px;
  width:100%;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 20px black;
}

.Yasser {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  width:100%;
  box-shadow: 3px 3px 20px black;
}

.box1{
      width: 100%;
    border-radius: 12px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.779);
    background: linear-gradient(rgba(0, 0, 0, 0.838));
  display: flex;
  flex-direction: column;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; 
  padding: 10px;
  gap: 10px; 
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  overflow: hidden; 
  direction: rtl;
  text-align: right;
  color: rgb(224, 224, 224);

}

.box2 {
    width: 100%;
    border-radius: 12px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.779);
    background: linear-gradient(rgba(0, 0, 0, 0.838));
  display: flex;
  flex-direction: column;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; 
  padding: 10px;
  gap: 10px; 
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  overflow: hidden; 
  direction: rtl;
  text-align: right;
  color: rgb(224, 224, 224);
  margin-top: 40px;
}

  .big-box {
    margin-top: 70px;
    height: 350px;
  }
  .icons {
    display: inline-flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 30px;
    margin-right: -300px;
  }

  .s-box1 {
    margin-right: 70px;
    width: 47%;
    text-align: end;
    margin-top: 20px;
    font-size: larger;
  }
  .s-box1 ul a {
    line-height: 1;
  }
  .s-box1 a {
    font-size: 10px;
  }
  .s-box1 hr {
    width: 24vh;
    height: 0.1vh;
    background-color: white;
    align-items: start;
    border-style: none;
  }
  .first-a {
    font-size: 13px;
  }
  .s-box {
    width: 26%;
  }
  .s-box ul a {
    text-decoration: none;
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    line-height: 3;
    display: grid;
    font-size: 10px;
    display: block;
  }
  .s-box hr {
    height: 0.1vh;
    background-color: white;
    align-items: start;
    border-style: none;
  }
}

