*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-header {
    position: relative;
}

.top-header h2{
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    overflow: hidden; 
    direction: rtl;
    margin: 15px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.top-header img {
    position: absolute;
    top: -10px;
    right: 43%;
}

.top-header-1 {
    position: relative;
}

.top-header-1 h2{
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    overflow: hidden;
    margin: 0px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#top-header-1-h2-1{
    position: absolute;
    top: -84px;
    left: 0;
}

#top-header-1-h2-2{
    position: absolute;
    top: -43px;
    left: 0;
}

/* A row contains 4 cells: EN label, EN input, AR label, AR input */
.container {
    position: absolute;
    top: 150px;
    grid-template-columns: 180px 1fr 180px 1fr; /* tweak widths */
    gap: 8px 14px; /* row-gap col-gap */
    align-items: center;
}

/* Make English read left-to-right and Arabic right-to-left */
.label-en, .input-en { direction: ltr; text-align: left; }
.label-ar, .input-ar { direction: rtl; text-align: right; }

/* Optional styling */


.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 10px;
    margin-bottom: 12px;
}

/* Make both halves the same width */
.row > .en,
.row > .ar {
    flex: 1 1 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    grid-template-columns: 180px 0fr; /* label + input inside each side */
    gap: 0px;
    outline: none;
}

/* Text directions */
.en { direction: ltr; }
.ar { direction: rtl; }

#ID{
    gap: 10px;
    margin-left: 38px;
}

#ID-ar{
    width: 25%;
    text-align: center;
    outline: none;
}

#NAME {
    margin-left: 100px;
    gap: 10px;
    justify-content: center;
}

#NAME-ar,
#NAME-en {
    text-align: center;
    outline: none;
}

#FATHER {
    margin-left: -10px;
    gap: 10px;
}

#FATHER-ar,
#FATHER-en {
    text-align: center;
    outline: none;
}

#GRANDFATHERS {
    margin-left: -72px;
    gap: 10px;
}

#GRANDFATHERS-ar,
#GRANDFATHERS-en {
    text-align: center;
    outline: none;
}

#FAMILYNAME {
    margin-left: 11px;
    gap: 10px;
}

#FAMILYNAME-ar,
#FAMILYNAME-en {
    text-align: center;
    outline: none;

}

#MOTHERSNAME {
    margin-left: -25px;
    gap: 10px;
}

#MOTHERSNAME-ar,
#MOTHERSNAME-en {
    text-align: center;
    outline: none;

}

#DATE {
    margin-left: 16px;
    gap: 10px;
}

#DATE-ar, 
#DATE-en {
    width: 13.1%;
    text-align: center;
    outline: none;
}

#PLACEBIRTH {
    margin-left: 2px;
    gap: 10px;
}

#PLACEBIRTH-ar,
#PLACEBIRTH-en {
    text-align: center;
    outline: none;

}

#SEX {
    margin-left: 30px;
    gap: 5px;
}

#SEX-ar,
#SEX-en {
    text-align: center;
    outline: none;
}

#PROFESSION {
    margin-left: 1px;
    gap: 10px;
}

#PROFESSION-ar,
#PROFESSION-en {
    text-align: center;
    outline: none;

}

#CITY {
    margin-left: 63px;
    gap: 10px;
}

#CITY-ar,
#CITY-en {
    text-align: center;
    outline: none;

}

#TELEPHONE {
    margin-left: 2px;
    gap: 10px;
}

#TELEPHONE-ar,
#TELEPHONE-en {
    text-align: center;
    outline: none;
}

.aside {
    border-style: groove;
    width: 60%;
    height: 15vh;
    display: flex;
    align-items: start;
    float: right;
    margin: 10px 10px;
    border-radius: 7px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    overflow: hidden;
    direction: rtl;
}

.aside h2 {
    margin: 7px;
}

.aside p {
    margin: 15px 0px;
}

.aside-1 {
    border-style: groove;
    width: 30%;
    height: 15vh;
    margin: 10px 20px;
    border-radius:7px ;
    text-align: end;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    overflow: hidden;
    direction: ltr;
    float: right;
}

.aside-1 h2 {
    font-size: medium;
    margin: 7px;
}

.aside-2 {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    overflow: hidden;
    direction: rtl;
    float: right;
}

.aside-2 h2 {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    overflow: hidden;
    direction: rtl;
    text-align: center;
}

.aside-2 p {
    margin: 10px 10px;
    line-height: 1.4;
}

.aside-2-input {
    text-align: center;
    border-style: none;
    border-bottom-style: inset;
    outline: none;
    border-color: black;
}

#aside-2-tel {
    width: 75px;
}

.pp {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 70px;
}

.p {
    border-style:solid;
    width: 190px;   
    height: 20vh;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0px 10px;
    top: -17px;
}


/* Visible on screen */
.no-print { 
    display: inline-block;
    float: left;
    margin: 0px 100px;
    width: 10%;
    height: 4vh;
    background-color: rgb(0, 58, 26);
    color: white;
    border-style: none;
    border-radius: 12px;
    font-size: large;
    cursor: pointer;
}

/* Hidden only when printing or in print preview */
@media print {
    .no-print {
        display: none !important;
    }

    body {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        overflow: visible;
    }

  /* Scale down content to fit one page */
    html, body {
        zoom: 80%; /* Adjust percentage until everything fits */
    }

    /* Avoid page breaks */
    .page-break {
        page-break-after: avoid;
        break-after: avoid;
    }
}

@page {
    size: A4; /* or letter */
    margin: 10mm;
}

@media print {
  .page-break {
    page-break-after: always; /* Forces a new page after this element */
    /* For modern browsers, you can also use: */
    break-after: page;
  }
}